/* force loading Google fonts */
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,700,700i&display=swap');

/* cog overrides */
#branding .cog--mq {
  padding: 0 1rem;
}

#branding .region-branding {
  display: block !important;
}

/* umass-site-branding CSS */
.block-umass-site-branding {
  padding: 2rem 0;
  text-align: left;
}

.block-umass-site-branding .block-inner {
  margin: 0;
  padding: 0;
}

.umass-site-branding-parent {
  padding-bottom: .1rem;
}

.umass-site-branding-parent a,
.umass-site-branding-parent a:hover,
.umass-site-branding-parent a:link,
.umass-site-branding-parent a:visited {
  text-decoration: none;
  color: #881c1c;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: bold;
}

.umass-site-branding-site a,
.umass-site-branding-site a:hover,
.umass-site-branding-site a:link,
.umass-site-branding-site a:visited {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
}

.umass-site-branding-parent + .umass-site-branding-site a {
  font-size: 2rem;
  color: #000;
}

.umass-site-branding-color a,
.umass-site-branding-color a:hover,
.umass-site-branding-color a:link,
.umass-site-branding-color a:visited {
  color: #881c1c;
}

.umass-site-branding-font a
.umass-site-branding-font a:hover,
.umass-site-branding-font a:link,
.umass-site-branding-font a:visited {
  font-size: 2rem;
  font-family: 'Lora', serif;
}

.umass-site-branding-reversed a,
.umass-site-branding-reversed a:hover,
.umass-site-branding-reversed a:link,
.umass-site-branding-reversed a:visited {
  color: #fff;
  font-size: 2rem;
}
