{#
/**
	*
	* @file
	* UMass Site Branding template file
	*
	* Variables
	*
	* site_name
	* site_url
	*
	* site_parent_name
	* site_parent_url
	*
	* umass_site_branding_option_1 => 
	*   umass-site-branding-color Disabled (0/false/default), Enabled (1/true)
	* umass_site_branding_option_2 => 
	*   umass-site-branding-font Disabled (0/false/default), Enabled (1/true)
	* umass_site_branding_option_3 => 
	*   umass-site-branding-reverse Disabled (0/false/default), Enabled (1/true)
	*
	* CSS Classes
	*
	* umass-site-branding-site
	* umass-site-branding-parent
	* umass-site-branding-color
	* umass-site-branding-font
	* umass-site-branding-reverse
	*
	*/
#}
<div class="block-umass-site-branding">
{% if site_parent_name %}
<div class="umass-site-branding-parent{{ umass_site_branding_option_3 ? ' umass-site-branding-reversed' : '' }}">
	{% if site_parent_url %}<a href="{{ site_parent_url }}">{% endif %}{{ site_parent_name }}{% if site_parent_url %}</a>{% endif %}
</div>
{% endif %}
<div class="umass-site-branding-site{{ umass_site_branding_option_1 ? ' umass-site-branding-color' : ''}}{{ umass_site_branding_option_2 ? ' umass-site-branding-font' : '' }}{{ umass_site_branding_option_3 ? ' umass-site-branding-reversed' : '' }}">
	<a href="{{ site_url }}">{{ site_name }}</a>
</div>
</div>