<div{{ attributes.setAttribute('id', 'pg__c') }}>


    <!-- ______________________ BRANDING _______________________ -->

    <header id="branding">
        <div class="cog--mq">
            {% if page.branding %}
                <div id="branding-region">
                    {{ page.branding }}
                </div>
            {% endif %}
        </div>
    </header>
    <!-- /branding -->


    <!-- ______________________ HEADER _______________________ -->

    <header id="header">
        <div class="cog--mq">
            {% if page.header %}
                <div id="header-region">
                    {{ page.header }}
                </div>
            {% endif %}
        </div>
    </header>
    <!-- /header -->

    <!-- ______________________ Pre content _______________________ -->
    {% if page.pre_content %}
        <div class="clearfix pre-content" id="pre-content">
            <div class="cog--mq">
                {{ page.pre_content }}
            </div>
        </div>
    {% endif %}

    <!-- ______________________ MAIN _______________________ -->

    <div class="clearfix" id="main">
        <div class="cog--mq">

            <section id="content">

                {% if breadcrumb or title or messages or tabs or action_links %}
                    <div id="content-header">

                        {{ breadcrumb }}

                        {% if page.highlighted %}
                            <div id="highlighted">{{ page.highlighted }}</div>
                        {% endif %}

                        {{ title_prefix }}

                        {% if title %}
                            <h1 class="title">{{ title }}</h1>
                        {% endif %}

                        {{ title_suffix }}
                        {{ messages }}
                        {{ page.help }}

                        {% if tabs %}
                            <div class="tabs">{{ tabs }}</div>
                        {% endif %}

                        {% if action_links %}
                            <ul class="action-links">{{ action_links }}</ul>
                        {% endif %}

                    </div>
                    <!-- /#content-header -->
                {% endif %}

                <div id="content-area">
                    {{ page.content }}
                </div>

                {{ feed_icons }}

            </section>
            <!-- /#content -->

            {% set sidebar_first = page.sidebar_first|render %}
            {% if sidebar_first %}
                <aside class="sidebar-first sidebars" id="sidebar-first">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}
            <!-- /sidebar-first -->

            {% if page.sidebar_second %}
                <aside class="sidebar-second sidebars" id="sidebar-second">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}
            <!-- /sidebar-second -->

        </div>
        <!-- /cog--mq -->
    </div>
    <!-- /main -->

    <!-- ______________________ Post content _______________________ -->

    {% if page.post_content %}
        <div class="clearfix post-content" id="post-content">
            <div class="cog--mq">
                {{ page.post_content }}
            </div>
        </div>
    {% endif %}

    <!-- ______________________ FOOTER _______________________ -->

    {% if page.footer %}
        <footer id="footer">
            <div class="cog--mq">
                {{ page.footer }}
            </div>
        </footer>
        <!-- /footer -->
    {% endif %}

</div>
<!-- /page -->
