// Base HTML Elements.
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body_font;
  font-size: 1.5 rem;
  line-height: 1.75;
}
// Base Headings
//
// Markup: headlines.twig
//
// Style guide: base.headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-weight: 700;
  font-family: $heading_font;
  margin: 0;

  a,
  a:link,
  a:visited,
  a:link:hover {
    text-decoration: none;
  }
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}

// Base Text
//
// Markup: text.twig
//
// Style guide: base.text
a,
a:link,
a:visited {
  text-decoration: underline;
  color: $link;
  cursor: pointer;

  &:hover {
    color: $dark-gray;
    text-decoration: underline;
  }
}

// Responsive Images
img,
svg {
  max-width: 100%;
  height: auto;
}

// Blockquote & Pre
//
// Markup: blockquote.twig
//
// Style guide: base.blockquote
blockquote {
  padding: 0 15px;
  color: $dark-gray;
  border-left: 4px solid $off-white;

  &:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;

  code {
    border: 1px dotted $dark-gray;
    background: $off-white;
    padding: 2px 9px;
    display: block;
    font-size: 85%;
  }
}
// List Types
//
// Markup: lists.twig
//
// Style guide: base.lists

// OL items
ol {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

// UL items
ul {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}
// Tables
//
// Markup: table.twig
//
// Style guide: base.table
table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    background-color: $off-white;
    padding: 4px 5px;
  }

  td {
    border: 0;
    outline: none;
    padding: 4px 5px;
  }

  thead {
    border: 1px solid $off-white;
    border-bottom: 0;
  }

  tbody {
    border: 1px solid $off-white;
  }

  tbody tr:nth-child(even) {
    background-color: $off-white;
    border-top: 1px solid $off-white;
    border-bottom: 1px solid $off-white;
  }
}

// Marijuana Policy styling

h1 {
  color:black;
  text-align: center;
  font-size: 2rem;  
  font-weight: 700 !important;
}

h2, h3 {
  text-align: center;
  color: black;
}

.bodyCopy {
  max-width: 700px;
  margin: auto;
}
#stopImgContainer {
  width: 250px;
  margin: auto;
}
li {
  list-style: none;
  display: inline;
}
#icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#icons.flex {
  margin: auto;
}

#icons > * {
  flex: 1 100%;
}

#icons.flex ul {
  max-width: 70%;
  text-align: center;
}

#icons li {
  text-align: center;
  font-weight: 500;
  color: #881c1c;
  font-size: 1.5rem;
}
#icons li img  {
  max-width: 200px;
  text-align: center;
}
#icons ul.icons, #div1.flex ul#row1.cards, #div2.flex ul#row2.cards, #div3.flex ul#row3.cards, #div4.flex ul#row4.cards, #div5.flex ul#row5.cards, #div6.flex ul#row6.cards {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
}
#icons ul.icons li, ul#row1.cards li, #div2.flex ul#row2.cards li, #div3.flex ul#row3.cards li, #div4.flex ul#row4.cards li, #div5.flex ul#row5.cards li, #div6.flex ul#row6.cards li {
  padding: 33px;
  min-width: 300px;
  min-height: 150px;
  margin-top: 10px;
}
ul#row1.cards li, #div2.flex ul#row2.cards li, #div3.flex ul#row3.cards li, #div4.flex ul#row4.cards li, #div5.flex ul#row5.cards li, #div6.flex ul#row6.cards li {
  border-bottom: 4px solid #5d2a2c;
}
#div1.flex ul#row1.cards li {
  width: 33%;
}
ul#row1.cards li:first-child {
  background: #ece9d4;
}
ul#row1.cards li {
  background: #b3b995;
}
ul#row1.cards li:last-child {
  background: #CCCCCC;
}

#div2.flex ul#row2.cards li {
  width: 49.5%;
  background: #dbd3ba;
}
#div2.flex ul#row2.cards li:last-child {
  background-color: #b3b995;
}

#div2.flex ul#row2.cards li h3 {
  color: black;
}
//#div2.flex ul#row2.cards li a, #div2.flex ul#row2.cards li a:link, #div2.flex ul#row2.cards li a:visited{}

/*#div2.flex ul#row2.cards li:first-child h3 {
  color: white;
  font-weight: 700;
  background-image: none;
}
#div2.flex ul#row2.cards li:first-child {
  background: #881c1c;
  color: #fff;
}*/

#div4.flex ul#row4.cards li, #div5.flex ul#row5.cards li {
  background-image: url("../21corner.png");
  background-size: 115px;
  background-repeat: no-repeat;
  background-position: left top;
}

#div3.flex ul#row3.cards li {
  width: 49.5%;
  color: black;
  background-color: #ece9d4;
}
#div3.flex ul#row3.cards li:first-child {
  background-color: #EEE;
}
#div3.flex ul#row3.cards li h3 {
  color: black;
}
//#div3.flex ul#row3.cards li a, #div3.flex ul#row3.cards li a:link, #div3.flex ul#row3.cards li a:visited{}
ul.row3.cards li:first-child {
  color: black;
}
ul.row3.cards li {
  background: #881c1c;
  color: #fff;
}
ul.row3.cards li:last-child {
  background: #881c1c;
  color: #fff;
}
#div4.flex ul#row4.cards li{
  width: 33%;
}
ul#row4.cards li:first-child {
  background: #CCC;
}
ul#row4.cards li {
  background: #b3b995;
}
ul#row4.cards li:last-child {
  background: #ece9d4;
}
#div5.flex ul#row5.cards li{
  width: 49.5%;
}
ul#row5.cards li:first-child {
  background: #dbd3ba;
}
ul#row5.cards li {
  background: #ece9d4;
}
ul#row5.cards li:last-child {
  background: #eeeeee;
}
#div6.flex ul#row6.cards li{
  width: 49.5%;
  background: #CCC;
}
#div6.flex ul#row6.cards li:first-child{
  background: #b3b995;
}
ul#row1.cards li h3, #div2.flex ul#row2.cards li h3, #div3.flex ul#row3.cards li h3, #div4.flex ul#row4.cards li h3, #div5.flex ul#row5.cards li h3, #div6.flex ul#row6.cards li h3 {
  font-size: 2rem;
  font-weight: 100;
  padding-top: 1.5rem;
}