html {
  box-sizing: border-box;
}
*,:after,:before {
  box-sizing: inherit
}
body {
  color: #444;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 400;
}
#page {
  background: #fff
}
#umass-banner {
  padding: 1em;
  background-color: #881c1c;
  color: #fff;
}
#umass-banner .container,#umass-banner+#metanav .container {
  max-width: 1200px;
}
#umass-banner a#wordmark {
  background: url(//umass.edu/identity/umass_banner/wordmark.svg) no-repeat;
  height: 1.5em;
  width: 12em;
  float: left;
  background-size: contain;
  font: inherit;
  margin-top: .1em;
}
#umass-banner a,#umass-banner h2 {
  color: #fff;
}
#umass-banner .metanav-toggle {
  float: right;
  padding: .1em 2em 0 0;
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}
#umass-banner .metanav-toggle:after {
  content: '\2228';
  margin-left: .3em;
  vertical-align: .05em;
}
#umass-banner .metanav-toggle.open:after {
  font-family: Helvetica, Arial, sans-serif;
  content: ' \2227';
}
#umass-banner form {
  float: right;
  margin-bottom:  0;
}
#umass-banner+#metanav {
  clear: both;
  background: linear-gradient(to bottom,#303030 50%,#444 100%) #303030;
  text-align: right;
  padding-right: .5em;
  transition: all .5s ease;
  overflow-y: hidden;
  max-height: 0;
}
#umass-banner+#metanav.open {
  max-height: 2em;
}
#umass-banner+#metanav li {
  display: inline-block;
  margin:  0;
}
#umass-banner+#metanav a {
  display: block;
  color: #fff;
  padding: .5em 1em;
  font-size: .8em;
  text-decoration: none;
}
#umass-banner+#metanav a:hover {
  text-decoration: none;
}
#umass-banner input {
  font-family: inherit;
  border: none;
  padding: .25em;
  display:  inline;
  font-size:  inherit;
  margin:  0;
}
.element-invisible,.ir {
  border: 0;
  overflow: hidden;
}
#umass-banner input[type=submit] {
  background: url(//umass.edu/identity/umass_banner/search.svg) 0 -2px no-repeat #881c1c;
  height: 1.75em;
  width: 1.75em;
  background-size: contain;
  text-indent: -9999px;
  vertical-align: middle;
  box-shadow: none;
}
@media only screen and (max-width: 34em) {
  #umass-banner a#wordmark,#umass-banner+#metanav {
    float: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  #umass-banner .metanav-toggle {
    float: left;
    padding-right: 1em;
  }
  #umass-banner a#wordmark {
    margin-bottom: 1.2em;
  }
  #umass-banner+#metanav.open {
    max-height: 4.5em;
  }
  #umass-banner+#metanav ul {
    padding: 0;
  }
}
#umass-footer {
  min-height: 4em;
  background: #333;
  padding-top: 1em;
}
#umass-footer a, #umass-footer p {
  color: #ccc;
  text-decoration: none;
}
#umass-footer p {
  text-align: center;
  font-size: .9em;
}
#umass-footer a:focus, #umass-footer a:hover {
  color: #fff;
}
.ir {
  display: block!important;
  text-indent: 100%;
  white-space: nowrap;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.element-invisible {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute!important;
  width: 1px;
}
.container {
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}
