#umass-footer {
  min-height: 4rem;
  background: #333;
  padding-top: 1rem;
}

#umass-footer a,
#umass-footer p {
  color: #ccc;
  text-decoration: none;
}

#umass-footer p {
  text-align: center;
  font-size: 0.9rem;
}

#umass-footer a:focus,
#umass-footer a:hover {
  color: #fff;
}
