// Colors
//
// Official UMass Primary, Secondary and Accent Colors
//
// $white - #fff, White
// $black - #000, Black
// $maroon - #881c1c, Maroon
// $darkbrown - #94795d, Dark Brown
// $lightbrown - #a89968, Light Brown
// $cool-gray - #63666a, Cool Gray
// $warm-gray - #aca39a, Warm Gray
// $gold - #c69214, Gold
// $orange - #b86125, Orange
// $red - #a8431e, Red
// $sage - #b3b995, Sage
// $green - #76881d, Green
// $darkblue - #003b5c, Dark Blue
// $mediumblue - #5b7f95, Medium Blue
// $lightblue - #71b2c9, Light Blue
// $garnet - #5d2a2c, Garnet
// $purple - #41273b, Purple
// $dark-gray - #333, Dark Gray
// $medium-gray - #666, Medium Gray
// $light-gray - #999, Light Gray
// $lighter-gray - #ccc, Lighter Gray
// $off-white - #eee, Off White
// $darktan - #beb395, Dark Tan
// $mediumtan - #dbd3ba, Medium Tan
// $lighttan - #ece9d4, Light Tan
//
// Style guide: base.colors

// Colors ///////////////
// umass main colors
$white: #fff;
$black: #000;
$maroon: #881c1c;
// umass secondary colors
$darkbrown: #94795d;
$lightbrown: #a89968;
$cool-gray: #63666a;
$warm-gray: #aca39a;
$gold: #c69214;
$orange: #b86125;
$red: #a8431e;
$sage: #b3b995;
$green: #76881d;
$darkblue: #003b5c;
$mediumblue: #5b7f95;
$lightblue: #71b2c9;
$garnet: #5d2a2c;
$purple: #41273b;
// umass accent colors
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;
$lighter-gray: #ccc;
$off-white: #eee;
$darktan: #beb395;
$mediumtan: #dbd3ba;
$lighttan: #ece9d4;

// Utility color variables ///////////////
$heading: $cool-gray;
$link: $maroon;

// Fonts /////////////// Included via theme umass_basic.libraries.yml file
$opensans: 'Open Sans';
$poppins: 'Poppins';
$heading_font: $opensans;
$body_font: $opensans;

// Susy config ///////////////
$susy: (
  columns: 12, // The number of columns in your grid
  gutters: 0, // The size of a gutter in relation to a single column, changed from 1/4 to 0% so we can allow components to declare their own gutters.
);

// UMass Abstracted gutters for Lego style components
$component-gutter: 1rem;

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;

  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  }

  @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}
// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}

.tmp-shadow {
  box-shadow: 0 0 2px 0 rgba($medium-gray, 1);
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;

  //@extend .tmp-shadow;
}
