// Sidebar Block
//
// Sidebar block styling.
//
// Markup: aside_blocks.twig
//
// Style guide: components.block
aside .block {
  //@extend .blocked-style;

  //margin-bottom: 25px;

  h2 {
    color: $dark-gray;
  }
}
