.region-branding {
  .block-system-menublock ul.menu {
    @extend .no-ul-list;
  }
}

#block-umass-basic-branding {
  display: flex;
  align-items: center;
}
#branding-region {
  max-width:1240px;
  margin: 0 auto;
}
.site-branding-text {
  //padding: 30px 10px 10px;
  font-size: 135%;
}
// logo values
div.site-branding a.logo {
  display: flex;
  align-items: left;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
  flex-wrap: wrap;
  min-width: 280px;
  min-height: 41.6167px;
}
div.site-branding .logo img {
  width: 280px;
  height: 41.6167px;
}
// site name
.site-branding-name {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5em 0;
  visibility: hidden;
}
.site-branding-name a, .site-branding-name a:hover {
    text-decoration: none;
    color: #881c1c;
}
.site-branding-text, .site-branding-name{
  font-size: 1rem;
  margin-left: 85px;
  visibility: hidden;
}
#site-branding a.logo{
  width: 280px;

  display: block;
}
