.cta-button a {
  display: inline-block;
  font-size: 1.5em;
  padding: $component-gutter;
  background: $maroon;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  overflow: hidden;
  min-width: 166px;
  border-radius: 4px;
  color: $white;
  z-index: 10;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
