.card-grid .view-content {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin: 1rem 1%;
  margin-bottom: 1rem;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  flex-basis: 31.33%;
  padding: 15px
}

.card img {
  width: 100%;
  background: grey;
  display: block;
}