// Flexslider
//

.flexslider {
  border: 0;
  margin: 0;

  .slide-caption {
    background-color: rgba(0, 59, 92, 0.8);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    padding: $component-gutter;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 35%;
    color: $white;

    h2 {
      line-height: 1.2;

      a {
        text-decoration: none;
        color: $white;
      }

      p {
        overflow: hidden;
      }
    }
  }

  .Bottom-Left.slide-caption {
    right: inherit;
    left: 5%;
  }

  .Centered.slide-caption {
    left: 50%;
    transform: translate(-50%, 0);
    width: 66%;
  }

  .flex-direction-nav a {
    height: 60px;
    line-height: 1.5; //This helps with our navigation control labels
  }
}
