// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.region-header {
  //  @include region-spacer($light-gray);
}

.cog--mq.mq-header {
  margin: 0 auto;
}

nav#block-umass-basic-main-menu {
  margin: 0;
}
