// Main Menu
//
.block-responsive-menu ul.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  a {
    padding: 0.5em $component-gutter;
    text-decoration: none;
    color: $black;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #881c1c;
      color: $maroon;
    }
  }
}
