// Primary Tabs
//
// Simple tabs styling.
//
// Markup: tabs.twig
//
// Style guide: components.tabs
.block-tabs {
  margin: 1.5em $component-gutter;

  ul {
    display: block;
    padding-left: 0;
    border-bottom: 1px solid $light-gray;

    li {
      display: inline-block;

      a {
        margin: 0;
        padding: 0.4em;
        text-decoration: none;
      }
    }
  }
}
